# Importing Required Packages

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

# Import Data

In [3]:
loan_data_backup = pd.read_csv('loan.csv')

C:\Users\Yashveer\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (19,47,55,112,123,124,125,128,129,130,133,139,140,141) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
loan_df = loan_data_backup.copy()

In [5]:
for i, col in enumerate(loan_df.columns):
    print(str(col), end='\t\t\t')
    print(type(loan_df[col][0]), end='\t\t\t')
    print(loan_df[col].isna().sum())

id			<class 'numpy.float64'>			2260668
member_id			<class 'numpy.float64'>			2260668
loan_amnt			<class 'numpy.int64'>			0
funded_amnt			<class 'numpy.int64'>			0
funded_amnt_inv			<class 'numpy.float64'>			0
term			<class 'str'>			0
int_rate			<class 'numpy.float64'>			0
installment			<class 'numpy.float64'>			0
grade			<class 'str'>			0
sub_grade			<class 'str'>			0
emp_title			<class 'str'>			166969
emp_length			<class 'str'>			146907
home_ownership			<class 'str'>			0
annual_inc			<class 'numpy.float64'>			4
verification_status			<class 'str'>			0
issue_d			<class 'str'>			0
loan_status			<class 'str'>			0
pymnt_plan			<class 'str'>			0
url			<class 'numpy.float64'>			2260668
desc			<class 'float'>			2134601
purpose			<class 'str'>			0
title			<class 'str'>			23325
zip_code			<class 'str'>			1
addr_state			<class 'str'>			0
dti			<class 'numpy.float64'>			1711
delinq_2yrs			<class 'numpy.float64'>			29
earliest_cr_line			<class 'str'>			29
inq_last_6mths			<class 'numpy.float64'>			30
mths_since_last_delinq			<class 'numpy.float64'>			1158502
mths_since_last_record			<class 'numpy.float64'>			1901512
open_acc			<class 'numpy.float64'>			29
pub_rec			<class 'numpy.float64'>			29
revol_bal			<class 'numpy.int64'>			0
revol_util			<class 'numpy.float64'>			1802
total_acc			<class 'numpy.float64'>			29
initial_list_status			<class 'str'>			0
out_prncp			<class 'numpy.float64'>			0
out_prncp_inv			<class 'numpy.float64'>			0
total_pymnt			<class 'numpy.float64'>			0
total_pymnt_inv			<class 'numpy.float64'>			0
total_rec_prncp			<class 'numpy.float64'>			0
total_rec_int			<class 'numpy.float64'>			0
total_rec_late_fee			<class 'numpy.float64'>			0
recoveries			<class 'numpy.float64'>			0
collection_recovery_fee			<class 'numpy.float64'>			0
last_pymnt_d			<class 'str'>			2426
last_pymnt_amnt			<class 'numpy.float64'>			0
next_pymnt_d			<class 'str'>			1303607
last_credit_pull_d			<class 'str'>			73
collections_12_mths_ex_med			<class 'numpy.float64'>			145
mths_since_last_major_derog			<class 'numpy.float64'>			1679893
policy_code			<class 'numpy.int64'>			0
application_type			<class 'str'>			0
annual_inc_joint			<class 'numpy.float64'>			2139958
dti_joint			<class 'numpy.float64'>			2139962
verification_status_joint			<class 'float'>			2144938
acc_now_delinq			<class 'numpy.float64'>			29
tot_coll_amt			<class 'numpy.float64'>			70276
tot_cur_bal			<class 'numpy.float64'>			70276
open_acc_6m			<class 'numpy.float64'>			866130
open_act_il			<class 'numpy.float64'>			866129
open_il_12m			<class 'numpy.float64'>			866129
open_il_24m			<class 'numpy.float64'>			866129
mths_since_rcnt_il			<class 'numpy.float64'>			909924
total_bal_il			<class 'numpy.float64'>			866129
il_util			<class 'numpy.float64'>			1068850
open_rv_12m			<class 'numpy.float64'>			866129
open_rv_24m			<class 'numpy.float64'>			866129
max_bal_bc			<class 'numpy.float64'>			866129
all_util			<class 'numpy.float64'>			866348
total_rev_hi_lim			<class 'numpy.float64'>			70276
inq_fi			<class 'numpy.float64'>			866129
total_cu_tl			<class 'numpy.float64'>			866130
inq_last_12m			<class 'numpy.float64'>			866130
acc_open_past_24mths			<class 'numpy.float64'>			50030
avg_cur_bal			<class 'numpy.float64'>			70346
bc_open_to_buy			<class 'numpy.float64'>			74935
bc_util			<class 'numpy.float64'>			76071
chargeoff_within_12_mths			<class 'numpy.float64'>			145
delinq_amnt			<class 'numpy.float64'>			29
mo_sin_old_il_acct			<class 'numpy.float64'>			139071
mo_sin_old_rev_tl_op			<class 'numpy.float64'>			70277
mo_sin_rcnt_rev_tl_op			<class 'numpy.float64'>			70277
mo_sin_rcnt_tl			<class 'numpy.float64'>			70276
mort_acc			<class 'numpy.float64'>			50030
mths_since_recent_bc			<class 'numpy.float64'>			73412
mths_since_recent_bc_dlq			<class 'numpy.float64'>			1740967
mths_since_recent_inq			<class 'numpy.float64'>			295435
mths_since_recent_revol_delinq			<class 'numpy.float64'>			1520309
num_accts_ever_120_pd			<class 'numpy.float64'>			70276
num_actv_bc_tl			<class 'numpy.float64'>			70276
num_actv_rev_tl			<class 'numpy.float64'>			70276
num_bc_sats			<class 'numpy.float64'>			58590
num_bc_tl			<class 'numpy.float64'>			70276
num_il_tl			<class 'numpy.float64'>			70276
num_op_rev_tl			<class 'numpy.float64'>			70276
num_rev_accts			<class 'numpy.float64'>			70277
num_rev_tl_bal_gt_0			<class 'numpy.float64'>			70276
num_sats			<class 'numpy.float64'>			58590
num_tl_120dpd_2m			<class 'numpy.float64'>			153657
num_tl_30dpd			<class 'numpy.float64'>			70276
num_tl_90g_dpd_24m			<class 'numpy.float64'>			70276
num_tl_op_past_12m			<class 'numpy.float64'>			70276
pct_tl_nvr_dlq			<class 'numpy.float64'>			70431
percent_bc_gt_75			<class 'numpy.float64'>			75379
pub_rec_bankruptcies			<class 'numpy.float64'>			1365
tax_liens			<class 'numpy.float64'>			105
tot_hi_cred_lim			<class 'numpy.float64'>			70276
total_bal_ex_mort			<class 'numpy.float64'>			50030
total_bc_limit			<class 'numpy.float64'>			50030
total_il_high_credit_limit			<class 'numpy.float64'>			70276
revol_bal_joint			<class 'numpy.float64'>			2152648
sec_app_earliest_cr_line			<class 'float'>			2152647
sec_app_inq_last_6mths			<class 'numpy.float64'>			2152647
sec_app_mort_acc			<class 'numpy.float64'>			2152647
sec_app_open_acc			<class 'numpy.float64'>			2152647
sec_app_revol_util			<class 'numpy.float64'>			2154484
sec_app_open_act_il			<class 'numpy.float64'>			2152647
sec_app_num_rev_accts			<class 'numpy.float64'>			2152647
sec_app_chargeoff_within_12_mths			<class 'numpy.float64'>			2152647
sec_app_collections_12_mths_ex_med			<class 'numpy.float64'>			2152647
sec_app_mths_since_last_major_derog			<class 'numpy.float64'>			2224726
hardship_flag			<class 'str'>			0
hardship_type			<class 'float'>			2250055
hardship_reason			<class 'float'>			2250055
hardship_status			<class 'float'>			2250055
deferral_term			<class 'numpy.float64'>			2250055
hardship_amount			<class 'numpy.float64'>			2250055
hardship_start_date			<class 'float'>			2250055
hardship_end_date			<class 'float'>			2250055
payment_plan_start_date			<class 'float'>			2250055
hardship_length			<class 'numpy.float64'>			2250055
hardship_dpd			<class 'numpy.float64'>			2250055
hardship_loan_status			<class 'float'>			2250055
orig_projected_additional_accrued_interest			<class 'numpy.float64'>			2252242
hardship_payoff_balance_amount			<class 'numpy.float64'>			2250055
hardship_last_payment_amount			<class 'numpy.float64'>			2250055
disbursement_method			<class 'str'>			0
debt_settlement_flag			<class 'str'>			0
debt_settlement_flag_date			<class 'float'>			2227612
settlement_status			<class 'float'>			2227612
settlement_date			<class 'float'>			2227612
settlement_amount			<class 'numpy.float64'>			2227612
settlement_percentage			<class 'numpy.float64'>			2227612
settlement_term			<class 'numpy.float64'>			2227612

## Preprocessing

### term

In [6]:
loan_df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [7]:
loan_df['term'] = loan_df['term'].str.replace(' 36 months', '36')
loan_df['term'] = loan_df['term'].str.replace(' 60 months', '60')

loan_df['term'] = pd.to_numeric(loan_df['term'])
loan_df['term'].unique()

array([36, 60], dtype=int64)

### emp_length

In [8]:
loan_df['emp_length'].unique()

array(['10+ years', '6 years', '4 years', '< 1 year', '2 years',
       '9 years', nan, '5 years', '3 years', '7 years', '1 year',
       '8 years'], dtype=object)

In [9]:
loan_df['emp_length'] = loan_df['emp_length'].str.replace('10+ years', '10', regex = False)
loan_df['emp_length'] = loan_df['emp_length'].str.replace('6 years', '6')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('4 years', '4')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('< 1 year', '0')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('2 years', '2')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('9 years', '9')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('5 years', '5')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('3 years', '3')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('7 years', '7')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('1 year', '1')
loan_df['emp_length'] = loan_df['emp_length'].str.replace('8 years', '8')

In [10]:
loan_df['emp_length'] = pd.to_numeric(loan_df['emp_length'])
loan_df['emp_length'].unique()

array([10.,  6.,  4.,  0.,  2.,  9., nan,  5.,  3.,  7.,  1.,  8.])

### issue_d

In [11]:
loan_df['issue_d'].unique()

array(['Dec-2018', 'Nov-2018', 'Oct-2018', 'Sep-2018', 'Aug-2018',
       'Jul-2018', 'Jun-2018', 'May-2018', 'Apr-2018', 'Mar-2018',
       'Feb-2018', 'Jan-2018', 'Sep-2016', 'Aug-2016', 'Jul-2016',
       'Jun-2016', 'May-2016', 'Apr-2016', 'Mar-2016', 'Feb-2016',
       'Jan-2016', 'Dec-2016', 'Nov-2016', 'Oct-2016', 'Dec-2015',
       'Nov-2015', 'Oct-2015', 'Sep-2015', 'Aug-2015', 'Jul-2015',
       'Jun-2015', 'May-2015', 'Apr-2015', 'Mar-2015', 'Feb-2015',
       'Jan-2015', 'Mar-2017', 'Feb-2017', 'Jan-2017', 'Sep-2017',
       'Aug-2017', 'Jul-2017', 'Jun-2017', 'May-2017', 'Apr-2017',
       'Dec-2013', 'Nov-2013', 'Oct-2013', 'Sep-2013', 'Aug-2013',
       'Jul-2013', 'Jun-2013', 'May-2013', 'Apr-2013', 'Mar-2013',
       'Feb-2013', 'Jan-2013', 'Dec-2012', 'Nov-2012', 'Oct-2012',
       'Sep-2012', 'Aug-2012', 'Jul-2012', 'Jun-2012', 'May-2012',
       'Apr-2012', 'Mar-2012', 'Feb-2012', 'Jan-2012', 'Dec-2014',
       'Nov-2014', 'Oct-2014', 'Sep-2014', 'Aug-2014', 'Jul-2014',
       'Jun-2014', 'May-2014', 'Apr-2014', 'Mar-2014', 'Feb-2014',
       'Jan-2014', 'Dec-2011', 'Nov-2011', 'Oct-2011', 'Sep-2011',
       'Aug-2011', 'Jul-2011', 'Jun-2011', 'May-2011', 'Apr-2011',
       'Mar-2011', 'Feb-2011', 'Jan-2011', 'Dec-2010', 'Nov-2010',
       'Oct-2010', 'Sep-2010', 'Aug-2010', 'Jul-2010', 'Jun-2010',
       'May-2010', 'Apr-2010', 'Mar-2010', 'Feb-2010', 'Jan-2010',
       'Dec-2009', 'Nov-2009', 'Oct-2009', 'Sep-2009', 'Aug-2009',
       'Jul-2009', 'Jun-2009', 'May-2009', 'Apr-2009', 'Mar-2009',
       'Feb-2009', 'Jan-2009', 'Dec-2008', 'Nov-2008', 'Oct-2008',
       'Sep-2008', 'Aug-2008', 'Jul-2008', 'Jun-2008', 'May-2008',
       'Apr-2008', 'Mar-2008', 'Feb-2008', 'Jan-2008', 'Dec-2007',
       'Nov-2007', 'Oct-2007', 'Sep-2007', 'Aug-2007', 'Jul-2007',
       'Jun-2007', 'Dec-2017', 'Nov-2017', 'Oct-2017'], dtype=object)

In [12]:
loan_df['issue_d'] = pd.to_datetime(loan_df['issue_d'], format = "%b-%Y")
loan_df['issue_d'].unique()

array(['2018-12-01T00:00:00.000000000', '2018-11-01T00:00:00.000000000',
       '2018-10-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2018-07-01T00:00:00.000000000',
       '2018-06-01T00:00:00.000000000', '2018-05-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2018-03-01T00:00:00.000000000',
       '2018-02-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2016-09-01T00:00:00.000000000', '2016-08-01T00:00:00.000000000',
       '2016-07-01T00:00:00.000000000', '2016-06-01T00:00:00.000000000',
       '2016-05-01T00:00:00.000000000', '2016-04-01T00:00:00.000000000',
       '2016-03-01T00:00:00.000000000', '2016-02-01T00:00:00.000000000',
       '2016-01-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2016-11-01T00:00:00.000000000', '2016-10-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2015-11-01T00:00:00.000000000',
       '2015-10-01T00:00:00.000000000', '2015-09-01T00:00:00.000000000',
       '2015-08-01T00:00:00.000000000', '2015-07-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2015-05-01T00:00:00.000000000',
       '2015-04-01T00:00:00.000000000', '2015-03-01T00:00:00.000000000',
       '2015-02-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2017-03-01T00:00:00.000000000', '2017-02-01T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2017-09-01T00:00:00.000000000',
       '2017-08-01T00:00:00.000000000', '2017-07-01T00:00:00.000000000',
       '2017-06-01T00:00:00.000000000', '2017-05-01T00:00:00.000000000',
       '2017-04-01T00:00:00.000000000', '2013-12-01T00:00:00.000000000',
       '2013-11-01T00:00:00.000000000', '2013-10-01T00:00:00.000000000',
       '2013-09-01T00:00:00.000000000', '2013-08-01T00:00:00.000000000',
       '2013-07-01T00:00:00.000000000', '2013-06-01T00:00:00.000000000',
       '2013-05-01T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '2013-03-01T00:00:00.000000000', '2013-02-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '2012-12-01T00:00:00.000000000',
       '2012-11-01T00:00:00.000000000', '2012-10-01T00:00:00.000000000',
       '2012-09-01T00:00:00.000000000', '2012-08-01T00:00:00.000000000',
       '2012-07-01T00:00:00.000000000', '2012-06-01T00:00:00.000000000',
       '2012-05-01T00:00:00.000000000', '2012-04-01T00:00:00.000000000',
       '2012-03-01T00:00:00.000000000', '2012-02-01T00:00:00.000000000',
       '2012-01-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '2014-11-01T00:00:00.000000000', '2014-10-01T00:00:00.000000000',
       '2014-09-01T00:00:00.000000000', '2014-08-01T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2014-06-01T00:00:00.000000000',
       '2014-05-01T00:00:00.000000000', '2014-04-01T00:00:00.000000000',
       '2014-03-01T00:00:00.000000000', '2014-02-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2011-12-01T00:00:00.000000000',
       '2011-11-01T00:00:00.000000000', '2011-10-01T00:00:00.000000000',
       '2011-09-01T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '2011-07-01T00:00:00.000000000', '2011-06-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '2011-04-01T00:00:00.000000000',
       '2011-03-01T00:00:00.000000000', '2011-02-01T00:00:00.000000000',
       '2011-01-01T00:00:00.000000000', '2010-12-01T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2010-09-01T00:00:00.000000000', '2010-08-01T00:00:00.000000000',
       '2010-07-01T00:00:00.000000000', '2010-06-01T00:00:00.000000000',
       '2010-05-01T00:00:00.000000000', '2010-04-01T00:00:00.000000000',
       '2010-03-01T00:00:00.000000000', '2010-02-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '2009-12-01T00:00:00.000000000',
       '2009-11-01T00:00:00.000000000', '2009-10-01T00:00:00.000000000',
       '2009-09-01T00:00:00.000000000', '2009-08-01T00:00:00.000000000',
       '2009-07-01T00:00:00.000000000', '2009-06-01T00:00:00.000000000',
       '2009-05-01T00:00:00.000000000', '2009-04-01T00:00:00.000000000',
       '2009-03-01T00:00:00.000000000', '2009-02-01T00:00:00.000000000',
       '2009-01-01T00:00:00.000000000', '2008-12-01T00:00:00.000000000',
       '2008-11-01T00:00:00.000000000', '2008-10-01T00:00:00.000000000',
       '2008-09-01T00:00:00.000000000', '2008-08-01T00:00:00.000000000',
       '2008-07-01T00:00:00.000000000', '2008-06-01T00:00:00.000000000',
       '2008-05-01T00:00:00.000000000', '2008-04-01T00:00:00.000000000',
       '2008-03-01T00:00:00.000000000', '2008-02-01T00:00:00.000000000',
       '2008-01-01T00:00:00.000000000', '2007-12-01T00:00:00.000000000',
       '2007-11-01T00:00:00.000000000', '2007-10-01T00:00:00.000000000',
       '2007-09-01T00:00:00.000000000', '2007-08-01T00:00:00.000000000',
       '2007-07-01T00:00:00.000000000', '2007-06-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2017-11-01T00:00:00.000000000',
       '2017-10-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [13]:
# reference date 2020-01-01
mths_issue_d = list()
for date in loan_df['issue_d']:
    year = date.year
    month = date.month
    
    mths_issue_d.append(((2020-year)*12) + (1 - month))
loan_df['mths_issue_d'] = mths_issue_d

In [14]:
loan_df['mths_issue_d'].unique()

array([ 13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  40,
        41,  42,  43,  44,  45,  46,  47,  48,  37,  38,  39,  49,  50,
        51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  34,  35,  36,
        28,  29,  30,  31,  32,  33,  73,  74,  75,  76,  77,  78,  79,
        80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
        93,  94,  95,  96,  61,  62,  63,  64,  65,  66,  67,  68,  69,
        70,  71,  72,  97,  98,  99, 100, 101, 102, 103, 104, 105, 106,
       107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,
       120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132,
       133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145,
       146, 147, 148, 149, 150, 151,  25,  26,  27], dtype=int64)

### earliest_cr_line

In [15]:
loan_df['earliest_cr_line'].isna().sum()

29

In [16]:
loan_df['earliest_cr_line'].unique()

array(['Apr-2001', 'Jun-1987', 'Apr-2011', 'Feb-2006', 'Dec-2000',
       'Sep-2002', 'Nov-2004', 'Nov-1997', 'Aug-1998', 'Apr-2002',
       'May-2007', 'Dec-2003', 'Jun-2003', 'Oct-2008', 'Jul-1990',
       'Dec-1988', 'Dec-2002', 'Oct-2010', 'Jul-2005', 'Feb-2001',
       'Dec-2004', 'Oct-2001', 'Sep-2003', 'Oct-2004', 'Sep-2010',
       'Oct-1999', 'Feb-1997', 'Jan-1995', 'Aug-2005', 'Apr-2005',
       'Oct-2005', 'Nov-2006', 'Sep-1999', 'Sep-2006', 'Aug-1996',
       'May-2015', 'Nov-1999', 'Dec-1998', 'Aug-1989', 'Apr-2012',
       'Sep-2012', 'Jan-2011', 'Jul-2013', 'Sep-2011', 'Aug-1999',
       'Dec-1991', 'Nov-2007', 'Oct-2007', 'Jul-1986', 'Nov-2014',
       'Apr-1995', 'Jul-1992', 'Aug-2006', 'Oct-1988', 'Feb-2005',
       'Aug-2002', 'Oct-2003', 'Apr-2004', 'Jun-2007', 'Aug-1990',
       'Dec-1990', 'Jul-1997', 'Sep-1988', 'Sep-2008', 'Feb-1999',
       'Apr-2007', 'Aug-2004', 'Dec-2006', 'Mar-2007', 'Oct-2006',
       'Jul-2014', 'May-2005', 'Jun-1995', 'Mar-2014', 'Feb-2003',
       'Aug-2007', 'Jul-1996', 'Jan-1991', 'Aug-2008', 'Dec-2007',
       'Sep-1997', 'Jan-2000', 'Jan-2005', 'Feb-2007', 'Dec-2005',
       'Jan-2012', 'Dec-1997', 'Mar-2009', 'Apr-1989', 'Jun-2006',
       'Jan-2014', 'Jun-2009', 'May-1975', 'Apr-2014', 'Oct-1996',
       'Mar-1999', 'Dec-1994', 'Jan-2008', 'Jul-1999', 'Feb-2014',
       'Oct-2000', 'Aug-2010', 'Mar-1993', 'May-2009', 'Aug-1993',
       'May-1998', 'Sep-1998', 'Aug-2011', 'Nov-1984', 'Apr-2000',
       'Apr-2003', 'May-2003', 'Feb-1996', 'Jan-1996', 'Mar-2005',
       'Aug-2001', 'Oct-2011', 'Mar-1974', 'Jul-2007', 'Feb-1998',
       'Jan-2006', 'Mar-2006', 'Aug-2003', 'May-2004', 'Nov-2013',
       'Jan-2009', 'Jan-2002', 'Sep-1984', 'Jul-2010', 'Mar-1998',
       'Jun-1991', 'Sep-1996', 'Sep-1991', 'Mar-1991', 'Apr-1999',
       'Aug-2009', 'Nov-2001', 'Apr-2006', 'Dec-2009', 'Nov-1986',
       'Jan-2004', 'Nov-2002', 'Sep-1994', 'Mar-2000', 'Jun-2015',
       'Apr-2013', 'Sep-2000', 'Jun-1979', 'Dec-1989', 'Oct-1997',
       'Aug-2000', 'Aug-1987', 'Jul-1991', 'Apr-1988', 'Oct-2014',
       'Jul-2002', 'Sep-2009', 'May-2010', 'Sep-1985', 'Feb-1991',
       'Nov-2003', 'Mar-2010', 'Jul-1995', 'Oct-1994', 'Jul-1987',
       'Oct-2009', 'Jan-1997', 'Oct-1993', 'Aug-1992', 'Sep-2005',
       'Jan-2001', 'Jul-1983', 'Jul-2003', 'Nov-2000', 'Jun-1998',
       'Aug-2013', 'Apr-2009', 'Jul-2004', 'Nov-2005', 'Apr-1998',
       'Nov-1993', 'Oct-1991', 'Jun-2004', 'Jun-2008', 'Jan-1993',
       'Mar-2003', 'Mar-2011', 'Jun-2000', 'Mar-2004', 'Feb-2008',
       'May-1973', 'May-2008', 'Jan-2003', 'Mar-2002', 'Aug-1997',
       'Feb-2009', 'Feb-2004', 'Apr-1993', 'Dec-1995', 'Dec-2008',
       'Jan-1990', 'Mar-2012', 'Mar-1987', 'Jun-2011', 'Feb-2011',
       'Jan-2015', 'Jun-2005', 'Mar-2001', 'Jun-1999', 'Mar-1979',
       'Jan-1998', 'May-2000', 'Dec-2001', 'May-2002', 'Oct-2002',
       'Sep-2001', 'Jun-1981', 'May-1994', 'Mar-2015', 'Jan-1994',
       'Jul-2015', 'Sep-2007', 'Aug-2012', 'Feb-1989', 'Jun-2012',
       'Aug-1972', 'Nov-2011', 'Feb-2015', 'Oct-1992', 'Apr-1994',
       'Feb-1985', 'May-2001', 'Jul-2008', 'Dec-1996', 'Jan-1987',
       'May-1995', 'Mar-1996', 'Nov-2009', 'Jul-1998', 'Jan-1988',
       'Jun-1988', 'Apr-1984', 'May-1991', 'Dec-2014', 'Nov-1996',
       'Apr-1978', 'Jul-2009', 'Jun-1970', 'Jun-1990', 'Mar-2008',
       'Jul-2001', 'Oct-1995', 'May-2006', 'Feb-2002', 'Jan-2007',
       'Jul-2006', 'Jul-2000', 'Mar-1990', 'Dec-2012', 'Jun-2014',
       'Jul-2012', 'Jun-1994', 'Feb-2000', 'Nov-1988', 'Oct-1987',
       'Nov-1991', 'Feb-1982', 'Apr-1991', 'Sep-2004', 'Nov-1998',
       'Nov-1983', 'Nov-1994', 'Dec-1972', 'Nov-1995', 'Nov-1992',
       'May-2014', 'May-1997', 'Jun-1989', 'Oct-2015', 'Apr-1986',
       'May-1993', 'Mar-1994', 'Jan-1999', 'Oct-1998', 'Jun-2013',
       'Mar-1995', 'Feb-2012', 'Sep-1993', 'Sep-1989', 'Feb-1993',
       'Jun-1982', 'Aug-1995', 'Nov-2012', 'Aug-1986', 'Dec-2011',
       'Oct-2013', 'May-2011', 'Jan-1980', 'Mar-1988', 'Aug-1985',
       'May-1996', 'Nov-1978', 'Dec-2013', 'May-1985', 'Nov-1982',
       'Mar-2013', 'Jun-1986', 'Jun-1992', 'Oct-1985', 'May-2012',
       'May-1987', 'Dec-2010', 'Nov-2008', 'May-1984', 'Nov-2010',
       'Jun-1993', 'Dec-1993', 'Feb-1990', 'Apr-2008', 'Sep-1995',
       'Jun-2010', 'Jul-2011', 'Feb-1994', 'Jun-2002', 'Jul-1993',
       'Dec-1992', 'Oct-1986', 'Aug-1984', 'Sep-2013', 'May-1982',
       'Mar-1997', 'Jul-1989', 'Apr-1990', 'Jul-1985', 'Aug-2014',
       'Dec-1982', 'Feb-2010', 'Oct-2012', 'May-1986', 'Jul-1994',
       'Aug-1994', 'Jul-1988', 'Apr-1985', 'Feb-2013', 'Mar-1989',
       'Apr-1997', 'Dec-1987', 'Jul-1979', 'Dec-1999', 'May-1988',
       'Dec-1986', 'Jun-2001', 'May-1999', 'Jun-1996', 'Mar-1983',
       'Aug-2015', 'Feb-1987', 'Feb-1983', 'Nov-1989', 'Apr-1992',
       'Jul-1981', 'Feb-1981', 'Jan-2010', 'May-1989', 'Sep-1978',
       'Aug-1975', 'Jun-1997', 'Apr-1983', 'Aug-1988', 'Dec-1984',
       'Aug-1991', 'May-2013', 'Jan-1979', 'Jan-1985', 'Aug-1978',
       'Dec-1978', 'Nov-1970', 'Apr-1987', 'Sep-1986', 'Apr-1996',
       'May-1977', 'Oct-1989', 'Aug-1982', 'Sep-1981', 'May-1983',
       'Jul-1984', 'Sep-2015', 'Nov-1981', 'Jan-2013', 'Sep-1982',
       'Oct-1977', 'Feb-1979', 'Nov-1979', 'Oct-1984', 'Feb-1977',
       'Jul-1978', 'Dec-1981', 'Sep-2014', 'Sep-1972', 'Jul-1971',
       'Nov-1977', 'Nov-1965', 'Mar-1978', 'Jan-1982', 'Mar-1992',
       'Sep-1973', 'Mar-1984', 'Dec-1977', 'Sep-1980', 'Oct-1990',
       'Mar-1981', 'Dec-1985', 'Oct-1982', 'Nov-1985', 'Oct-1974',
       'Sep-1992', 'Feb-1995', 'Nov-1990', 'Apr-1980', 'Apr-2015',
       'Jan-1975', 'May-1974', 'Sep-1990', 'May-1990', 'Nov-1987',
       'Jun-1976', 'Oct-1983', 'Aug-1980', 'Jan-1986', 'Feb-1973',
       'Feb-1986', 'Apr-1976', 'Dec-1971', 'Jan-1992', 'Feb-1971',
       'Jun-1985', 'Feb-1976', 'Jan-1970', 'Oct-1975', 'Apr-1979',
       'Jun-1983', 'Sep-1987', 'Oct-1980', 'Feb-1978', 'Jul-1980',
       'May-1992', 'Jan-1984', 'Oct-1978', 'Mar-1985', 'May-1969',
       'Nov-1980', 'Mar-1975', 'Dec-1980', 'Aug-1976', 'Jul-1977',
       'Nov-1968', 'Sep-1983', 'Jun-1984', 'Nov-1976', 'Mar-1976',
       'Apr-2010', 'Feb-1984', 'May-1976', 'Mar-1970', 'Mar-1977',
       'Feb-1988', 'Dec-1979', 'Feb-1992', 'Oct-1981', 'Apr-1982',
       'Jan-1989', 'May-1978', 'Oct-1969', 'Apr-1962', 'May-1961',
       'Aug-1977', 'Apr-1981', 'Dec-1983', 'Nov-1975', 'Apr-1977',
       'Jul-1976', 'Jul-1982', 'Nov-2015', 'Oct-1976', 'Jul-1967',
       'Jun-1972', 'Mar-1986', 'Jun-1967', 'May-1979', 'Mar-1980',
       'Aug-1971', 'May-1981', 'Jan-1983', 'Sep-1979', 'Jan-1977',
       'Mar-1982', 'Jun-1977', 'Jan-1981', 'Jan-1978', 'Jan-1973',
       'Mar-1971', 'May-1964', 'Feb-1980', 'Jul-1974', 'May-1965',
       'Jul-1973', 'Aug-1973', 'Aug-1981', 'Sep-1971', 'Jun-1978',
       'Jan-1974', 'Aug-1974', 'Jan-1967', 'Apr-1975', 'Sep-1970',
       'Jun-1965', 'Mar-1973', 'Sep-1976', 'Apr-1971', 'Nov-1974',
       'Dec-1968', 'Dec-1976', 'Feb-1966', 'May-1980', 'Aug-1979',
       'Apr-1963', 'Oct-1970', 'Jan-1976', 'Sep-1977', 'Sep-1974',
       'Jan-1954', 'Apr-1973', 'Jan-1969', 'Jun-1980', 'Aug-1983',
       'Jan-1968', 'Aug-1969', 'Dec-1975', 'Jul-1975', 'Jan-1971',
       'Jul-1968', 'Nov-1973', 'Jan-1950', 'Apr-1972', 'Jun-1974',
       'Jul-1950', 'Apr-1968', 'Jan-1963', 'Nov-1966', 'Oct-1972',
       'Dec-1967', 'Aug-1966', 'Mar-1972', 'May-1972', 'Sep-1964',
       'Feb-1972', 'Dec-1973', 'Jan-1958', 'Oct-1973', 'Feb-1963',
       'Aug-1967', 'Oct-1965', 'Feb-1970', 'Oct-1979', 'Jan-1972',
       'Feb-1974', 'Feb-1969', 'Apr-1964', 'Sep-1975', 'Aug-1970',
       'Jul-1965', 'Dec-1970', 'May-1971', 'Apr-1965', 'Jan-1956',
       'Apr-1970', 'Sep-1965', 'Mar-1965', 'Dec-1974', 'Dec-1966',
       'Jan-1965', 'Jan-1960', 'Nov-1959', 'May-1968', 'Jun-1975',
       'Jun-1969', 'Jan-1962', 'May-1970', 'Apr-1974', 'Feb-1967',
       'Aug-1968', 'Sep-1969', 'Apr-1969', 'Mar-1962', 'Jun-1973',
       'Oct-1961', 'Apr-1967', 'Oct-1964', 'Jan-1959', 'Dec-1969',
       'Jun-1964', 'Mar-1968', 'Mar-1969', 'Sep-1967', 'Mar-1967',
       'Jul-1969', 'May-1967', 'Nov-1971', 'Nov-1972', 'Jan-1961',
       'Feb-1962', 'Jun-1968', 'Feb-1975', 'Jul-1966', 'Dec-1964',
       'Sep-1966', 'Sep-1963', 'Aug-1962', 'Jan-1966', 'Oct-1968',
       'Nov-1964', 'Mar-1954', 'Aug-1963', 'Nov-1967', 'Jan-1964',
       'Jul-1964', 'Sep-1968', 'Jun-1971', 'Oct-1971', 'Dec-1965',
       'Oct-1966', 'Jul-1972', 'Feb-1965', 'Jun-1966', 'Aug-1964',
       'Jul-1970', 'Apr-1966', 'May-1966', 'Sep-1962', 'Oct-1967',
       'Apr-1960', 'Jun-1963', 'Nov-1969', 'Dec-1962', 'Feb-1968',
       'Jan-1951', 'Mar-1966', 'Jun-1962', 'Dec-1963', 'Aug-1965',
       'Jan-1957', 'Dec-1961', 'Jul-1961', 'Dec-1947', 'Apr-1957',
       'Mar-1964', 'Mar-1959', 'Jan-1955', 'Jun-1958', 'Feb-1964',
       'Apr-1959', 'Nov-1963', 'Aug-1959', 'May-1963', 'Nov-1961',
       'Jun-1960', 'Mar-1963', 'Jul-1960', 'Oct-1963', 'Dec-1960',
       'Sep-1961', 'Jun-1961', 'Aug-1958', 'Apr-1955', 'May-1960',
       'Oct-1962', 'Dec-1959', 'Jun-1956', 'Feb-1961', 'Jul-1963',
       'Feb-1958', 'Jun-1959', 'Jan-1953', 'Jul-1962', 'Aug-1941',
       'Mar-1961', 'Dec-1946', 'Aug-1961', 'May-1962', 'Feb-1960',
       'Mar-1933', 'Nov-1957', 'Jun-1952', 'Jun-1957', 'May-1958',
       'Nov-1962', 'Aug-1960', 'Mar-1955', 'May-1959', 'Feb-1945',
       'Jan-1948', 'Jul-1959', 'Nov-1960', 'Mar-1957', 'Jul-1952',
       'Jan-1952', 'Apr-1958', 'Jul-1951', 'Apr-1961', 'Dec-1958',
       'Oct-1958', 'Feb-1959', 'Oct-1959', 'Jun-1955', 'Sep-1953',
       'Nov-1956', 'Mar-1958', 'May-1955', 'Mar-1960', 'Aug-1951',
       'Sep-1959', 'Nov-1958', 'Sep-1956', 'May-1957', 'Dec-1956',
       'Jul-1958', 'Sep-1960', 'Oct-1960', 'Aug-1950', 'Aug-1955',
       'Jan-1944', 'Nov-1952', 'Aug-1953', 'Apr-1934', 'Sep-1951',
       'Feb-1934', 'Aug-1957', 'Oct-1957', 'Nov-1953', 'Jul-1955',
       'May-1953', 'Nov-1950', 'Nov-1955', 'Feb-1957', 'Dec-1951',
       'Aug-1946', 'Nov-1954', 'Sep-1957', 'Jun-1949', 'Oct-1950',
       'May-1950', 'Oct-1954', 'Jan-1946', 'Dec-1950', nan], dtype=object)

In [17]:
loan_df['earliest_cr_line'] = pd.to_datetime(loan_df['earliest_cr_line'], format = "%b-%Y")
loan_df['earliest_cr_line'].unique()

array(['2001-04-01T00:00:00.000000000', '1987-06-01T00:00:00.000000000',
       '2011-04-01T00:00:00.000000000', '2006-02-01T00:00:00.000000000',
       '2000-12-01T00:00:00.000000000', '2002-09-01T00:00:00.000000000',
       '2004-11-01T00:00:00.000000000', '1997-11-01T00:00:00.000000000',
       '1998-08-01T00:00:00.000000000', '2002-04-01T00:00:00.000000000',
       '2007-05-01T00:00:00.000000000', '2003-12-01T00:00:00.000000000',
       '2003-06-01T00:00:00.000000000', '2008-10-01T00:00:00.000000000',
       '1990-07-01T00:00:00.000000000', '1988-12-01T00:00:00.000000000',
       '2002-12-01T00:00:00.000000000', '2010-10-01T00:00:00.000000000',
       '2005-07-01T00:00:00.000000000', '2001-02-01T00:00:00.000000000',
       '2004-12-01T00:00:00.000000000', '2001-10-01T00:00:00.000000000',
       '2003-09-01T00:00:00.000000000', '2004-10-01T00:00:00.000000000',
       '2010-09-01T00:00:00.000000000', '1999-10-01T00:00:00.000000000',
       '1997-02-01T00:00:00.000000000', '1995-01-01T00:00:00.000000000',
       '2005-08-01T00:00:00.000000000', '2005-04-01T00:00:00.000000000',
       '2005-10-01T00:00:00.000000000', '2006-11-01T00:00:00.000000000',
       '1999-09-01T00:00:00.000000000', '2006-09-01T00:00:00.000000000',
       '1996-08-01T00:00:00.000000000', '2015-05-01T00:00:00.000000000',
       '1999-11-01T00:00:00.000000000', '1998-12-01T00:00:00.000000000',
       '1989-08-01T00:00:00.000000000', '2012-04-01T00:00:00.000000000',
       '2012-09-01T00:00:00.000000000', '2011-01-01T00:00:00.000000000',
       '2013-07-01T00:00:00.000000000', '2011-09-01T00:00:00.000000000',
       '1999-08-01T00:00:00.000000000', '1991-12-01T00:00:00.000000000',
       '2007-11-01T00:00:00.000000000', '2007-10-01T00:00:00.000000000',
       '1986-07-01T00:00:00.000000000', '2014-11-01T00:00:00.000000000',
       '1995-04-01T00:00:00.000000000', '1992-07-01T00:00:00.000000000',
       '2006-08-01T00:00:00.000000000', '1988-10-01T00:00:00.000000000',
       '2005-02-01T00:00:00.000000000', '2002-08-01T00:00:00.000000000',
       '2003-10-01T00:00:00.000000000', '2004-04-01T00:00:00.000000000',
       '2007-06-01T00:00:00.000000000', '1990-08-01T00:00:00.000000000',
       '1990-12-01T00:00:00.000000000', '1997-07-01T00:00:00.000000000',
       '1988-09-01T00:00:00.000000000', '2008-09-01T00:00:00.000000000',
       '1999-02-01T00:00:00.000000000', '2007-04-01T00:00:00.000000000',
       '2004-08-01T00:00:00.000000000', '2006-12-01T00:00:00.000000000',
       '2007-03-01T00:00:00.000000000', '2006-10-01T00:00:00.000000000',
       '2014-07-01T00:00:00.000000000', '2005-05-01T00:00:00.000000000',
       '1995-06-01T00:00:00.000000000', '2014-03-01T00:00:00.000000000',
       '2003-02-01T00:00:00.000000000', '2007-08-01T00:00:00.000000000',
       '1996-07-01T00:00:00.000000000', '1991-01-01T00:00:00.000000000',
       '2008-08-01T00:00:00.000000000', '2007-12-01T00:00:00.000000000',
       '1997-09-01T00:00:00.000000000', '2000-01-01T00:00:00.000000000',
       '2005-01-01T00:00:00.000000000', '2007-02-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '1997-12-01T00:00:00.000000000', '2009-03-01T00:00:00.000000000',
       '1989-04-01T00:00:00.000000000', '2006-06-01T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2009-06-01T00:00:00.000000000',
       '1975-05-01T00:00:00.000000000', '2014-04-01T00:00:00.000000000',
       '1996-10-01T00:00:00.000000000', '1999-03-01T00:00:00.000000000',
       '1994-12-01T00:00:00.000000000', '2008-01-01T00:00:00.000000000',
       '1999-07-01T00:00:00.000000000', '2014-02-01T00:00:00.000000000',
       '2000-10-01T00:00:00.000000000', '2010-08-01T00:00:00.000000000',
       '1993-03-01T00:00:00.000000000', '2009-05-01T00:00:00.000000000',
       '1993-08-01T00:00:00.000000000', '1998-05-01T00:00:00.000000000',
       '1998-09-01T00:00:00.000000000', '2011-08-01T00:00:00.000000000',
       '1984-11-01T00:00:00.000000000', '2000-04-01T00:00:00.000000000',
       '2003-04-01T00:00:00.000000000', '2003-05-01T00:00:00.000000000',
       '1996-02-01T00:00:00.000000000', '1996-01-01T00:00:00.000000000',
       '2005-03-01T00:00:00.000000000', '2001-08-01T00:00:00.000000000',
       '2011-10-01T00:00:00.000000000', '1974-03-01T00:00:00.000000000',
       '2007-07-01T00:00:00.000000000', '1998-02-01T00:00:00.000000000',
       '2006-01-01T00:00:00.000000000', '2006-03-01T00:00:00.000000000',
       '2003-08-01T00:00:00.000000000', '2004-05-01T00:00:00.000000000',
       '2013-11-01T00:00:00.000000000', '2009-01-01T00:00:00.000000000',
       '2002-01-01T00:00:00.000000000', '1984-09-01T00:00:00.000000000',
       '2010-07-01T00:00:00.000000000', '1998-03-01T00:00:00.000000000',
       '1991-06-01T00:00:00.000000000', '1996-09-01T00:00:00.000000000',
       '1991-09-01T00:00:00.000000000', '1991-03-01T00:00:00.000000000',
       '1999-04-01T00:00:00.000000000', '2009-08-01T00:00:00.000000000',
       '2001-11-01T00:00:00.000000000', '2006-04-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '1986-11-01T00:00:00.000000000',
       '2004-01-01T00:00:00.000000000', '2002-11-01T00:00:00.000000000',
       '1994-09-01T00:00:00.000000000', '2000-03-01T00:00:00.000000000',
       '2015-06-01T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '2000-09-01T00:00:00.000000000', '1979-06-01T00:00:00.000000000',
       '1989-12-01T00:00:00.000000000', '1997-10-01T00:00:00.000000000',
       '2000-08-01T00:00:00.000000000', '1987-08-01T00:00:00.000000000',
       '1991-07-01T00:00:00.000000000', '1988-04-01T00:00:00.000000000',
       '2014-10-01T00:00:00.000000000', '2002-07-01T00:00:00.000000000',
       '2009-09-01T00:00:00.000000000', '2010-05-01T00:00:00.000000000',
       '1985-09-01T00:00:00.000000000', '1991-02-01T00:00:00.000000000',
       '2003-11-01T00:00:00.000000000', '2010-03-01T00:00:00.000000000',
       '1995-07-01T00:00:00.000000000', '1994-10-01T00:00:00.000000000',
       '1987-07-01T00:00:00.000000000', '2009-10-01T00:00:00.000000000',
       '1997-01-01T00:00:00.000000000', '1993-10-01T00:00:00.000000000',
       '1992-08-01T00:00:00.000000000', '2005-09-01T00:00:00.000000000',
       '2001-01-01T00:00:00.000000000', '1983-07-01T00:00:00.000000000',
       '2003-07-01T00:00:00.000000000', '2000-11-01T00:00:00.000000000',
       '1998-06-01T00:00:00.000000000', '2013-08-01T00:00:00.000000000',
       '2009-04-01T00:00:00.000000000', '2004-07-01T00:00:00.000000000',
       '2005-11-01T00:00:00.000000000', '1998-04-01T00:00:00.000000000',
       '1993-11-01T00:00:00.000000000', '1991-10-01T00:00:00.000000000',
       '2004-06-01T00:00:00.000000000', '2008-06-01T00:00:00.000000000',
       '1993-01-01T00:00:00.000000000', '2003-03-01T00:00:00.000000000',
       '2011-03-01T00:00:00.000000000', '2000-06-01T00:00:00.000000000',
       '2004-03-01T00:00:00.000000000', '2008-02-01T00:00:00.000000000',
       '1973-05-01T00:00:00.000000000', '2008-05-01T00:00:00.000000000',
       '2003-01-01T00:00:00.000000000', '2002-03-01T00:00:00.000000000',
       '1997-08-01T00:00:00.000000000', '2009-02-01T00:00:00.000000000',
       '2004-02-01T00:00:00.000000000', '1993-04-01T00:00:00.000000000',
       '1995-12-01T00:00:00.000000000', '2008-12-01T00:00:00.000000000',
       '1990-01-01T00:00:00.000000000', '2012-03-01T00:00:00.000000000',
       '1987-03-01T00:00:00.000000000', '2011-06-01T00:00:00.000000000',
       '2011-02-01T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2005-06-01T00:00:00.000000000', '2001-03-01T00:00:00.000000000',
       '1999-06-01T00:00:00.000000000', '1979-03-01T00:00:00.000000000',
       '1998-01-01T00:00:00.000000000', '2000-05-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2002-05-01T00:00:00.000000000',
       '2002-10-01T00:00:00.000000000', '2001-09-01T00:00:00.000000000',
       '1981-06-01T00:00:00.000000000', '1994-05-01T00:00:00.000000000',
       '2015-03-01T00:00:00.000000000', '1994-01-01T00:00:00.000000000',
       '2015-07-01T00:00:00.000000000', '2007-09-01T00:00:00.000000000',
       '2012-08-01T00:00:00.000000000', '1989-02-01T00:00:00.000000000',
       '2012-06-01T00:00:00.000000000', '1972-08-01T00:00:00.000000000',
       '2011-11-01T00:00:00.000000000', '2015-02-01T00:00:00.000000000',
       '1992-10-01T00:00:00.000000000', '1994-04-01T00:00:00.000000000',
       '1985-02-01T00:00:00.000000000', '2001-05-01T00:00:00.000000000',
       '2008-07-01T00:00:00.000000000', '1996-12-01T00:00:00.000000000',
       '1987-01-01T00:00:00.000000000', '1995-05-01T00:00:00.000000000',
       '1996-03-01T00:00:00.000000000', '2009-11-01T00:00:00.000000000',
       '1998-07-01T00:00:00.000000000', '1988-01-01T00:00:00.000000000',
       '1988-06-01T00:00:00.000000000', '1984-04-01T00:00:00.000000000',
       '1991-05-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '1996-11-01T00:00:00.000000000', '1978-04-01T00:00:00.000000000',
       '2009-07-01T00:00:00.000000000', '1970-06-01T00:00:00.000000000',
       '1990-06-01T00:00:00.000000000', '2008-03-01T00:00:00.000000000',
       '2001-07-01T00:00:00.000000000', '1995-10-01T00:00:00.000000000',
       '2006-05-01T00:00:00.000000000', '2002-02-01T00:00:00.000000000',
       '2007-01-01T00:00:00.000000000', '2006-07-01T00:00:00.000000000',
       '2000-07-01T00:00:00.000000000', '1990-03-01T00:00:00.000000000',
       '2012-12-01T00:00:00.000000000', '2014-06-01T00:00:00.000000000',
       '2012-07-01T00:00:00.000000000', '1994-06-01T00:00:00.000000000',
       '2000-02-01T00:00:00.000000000', '1988-11-01T00:00:00.000000000',
       '1987-10-01T00:00:00.000000000', '1991-11-01T00:00:00.000000000',
       '1982-02-01T00:00:00.000000000', '1991-04-01T00:00:00.000000000',
       '2004-09-01T00:00:00.000000000', '1998-11-01T00:00:00.000000000',
       '1983-11-01T00:00:00.000000000', '1994-11-01T00:00:00.000000000',
       '1972-12-01T00:00:00.000000000', '1995-11-01T00:00:00.000000000',
       '1992-11-01T00:00:00.000000000', '2014-05-01T00:00:00.000000000',
       '1997-05-01T00:00:00.000000000', '1989-06-01T00:00:00.000000000',
       '2015-10-01T00:00:00.000000000', '1986-04-01T00:00:00.000000000',
       '1993-05-01T00:00:00.000000000', '1994-03-01T00:00:00.000000000',
       '1999-01-01T00:00:00.000000000', '1998-10-01T00:00:00.000000000',
       '2013-06-01T00:00:00.000000000', '1995-03-01T00:00:00.000000000',
       '2012-02-01T00:00:00.000000000', '1993-09-01T00:00:00.000000000',
       '1989-09-01T00:00:00.000000000', '1993-02-01T00:00:00.000000000',
       '1982-06-01T00:00:00.000000000', '1995-08-01T00:00:00.000000000',
       '2012-11-01T00:00:00.000000000', '1986-08-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2013-10-01T00:00:00.000000000',
       '2011-05-01T00:00:00.000000000', '1980-01-01T00:00:00.000000000',
       '1988-03-01T00:00:00.000000000', '1985-08-01T00:00:00.000000000',
       '1996-05-01T00:00:00.000000000', '1978-11-01T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '1985-05-01T00:00:00.000000000',
       '1982-11-01T00:00:00.000000000', '2013-03-01T00:00:00.000000000',
       '1986-06-01T00:00:00.000000000', '1992-06-01T00:00:00.000000000',
       '1985-10-01T00:00:00.000000000', '2012-05-01T00:00:00.000000000',
       '1987-05-01T00:00:00.000000000', '2010-12-01T00:00:00.000000000',
       '2008-11-01T00:00:00.000000000', '1984-05-01T00:00:00.000000000',
       '2010-11-01T00:00:00.000000000', '1993-06-01T00:00:00.000000000',
       '1993-12-01T00:00:00.000000000', '1990-02-01T00:00:00.000000000',
       '2008-04-01T00:00:00.000000000', '1995-09-01T00:00:00.000000000',
       '2010-06-01T00:00:00.000000000', '2011-07-01T00:00:00.000000000',
       '1994-02-01T00:00:00.000000000', '2002-06-01T00:00:00.000000000',
       '1993-07-01T00:00:00.000000000', '1992-12-01T00:00:00.000000000',
       '1986-10-01T00:00:00.000000000', '1984-08-01T00:00:00.000000000',
       '2013-09-01T00:00:00.000000000', '1982-05-01T00:00:00.000000000',
       '1997-03-01T00:00:00.000000000', '1989-07-01T00:00:00.000000000',
       '1990-04-01T00:00:00.000000000', '1985-07-01T00:00:00.000000000',
       '2014-08-01T00:00:00.000000000', '1982-12-01T00:00:00.000000000',
       '2010-02-01T00:00:00.000000000', '2012-10-01T00:00:00.000000000',
       '1986-05-01T00:00:00.000000000', '1994-07-01T00:00:00.000000000',
       '1994-08-01T00:00:00.000000000', '1988-07-01T00:00:00.000000000',
       '1985-04-01T00:00:00.000000000', '2013-02-01T00:00:00.000000000',
       '1989-03-01T00:00:00.000000000', '1997-04-01T00:00:00.000000000',
       '1987-12-01T00:00:00.000000000', '1979-07-01T00:00:00.000000000',
       '1999-12-01T00:00:00.000000000', '1988-05-01T00:00:00.000000000',
       '1986-12-01T00:00:00.000000000', '2001-06-01T00:00:00.000000000',
       '1999-05-01T00:00:00.000000000', '1996-06-01T00:00:00.000000000',
       '1983-03-01T00:00:00.000000000', '2015-08-01T00:00:00.000000000',
       '1987-02-01T00:00:00.000000000', '1983-02-01T00:00:00.000000000',
       '1989-11-01T00:00:00.000000000', '1992-04-01T00:00:00.000000000',
       '1981-07-01T00:00:00.000000000', '1981-02-01T00:00:00.000000000',
       '2010-01-01T00:00:00.000000000', '1989-05-01T00:00:00.000000000',
       '1978-09-01T00:00:00.000000000', '1975-08-01T00:00:00.000000000',
       '1997-06-01T00:00:00.000000000', '1983-04-01T00:00:00.000000000',
       '1988-08-01T00:00:00.000000000', '1984-12-01T00:00:00.000000000',
       '1991-08-01T00:00:00.000000000', '2013-05-01T00:00:00.000000000',
       '1979-01-01T00:00:00.000000000', '1985-01-01T00:00:00.000000000',
       '1978-08-01T00:00:00.000000000', '1978-12-01T00:00:00.000000000',
       '1970-11-01T00:00:00.000000000', '1987-04-01T00:00:00.000000000',
       '1986-09-01T00:00:00.000000000', '1996-04-01T00:00:00.000000000',
       '1977-05-01T00:00:00.000000000', '1989-10-01T00:00:00.000000000',
       '1982-08-01T00:00:00.000000000', '1981-09-01T00:00:00.000000000',
       '1983-05-01T00:00:00.000000000', '1984-07-01T00:00:00.000000000',
       '2015-09-01T00:00:00.000000000', '1981-11-01T00:00:00.000000000',
       '2013-01-01T00:00:00.000000000', '1982-09-01T00:00:00.000000000',
       '1977-10-01T00:00:00.000000000', '1979-02-01T00:00:00.000000000',
       '1979-11-01T00:00:00.000000000', '1984-10-01T00:00:00.000000000',
       '1977-02-01T00:00:00.000000000', '1978-07-01T00:00:00.000000000',
       '1981-12-01T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '1972-09-01T00:00:00.000000000', '1971-07-01T00:00:00.000000000',
       '1977-11-01T00:00:00.000000000', '1965-11-01T00:00:00.000000000',
       '1978-03-01T00:00:00.000000000', '1982-01-01T00:00:00.000000000',
       '1992-03-01T00:00:00.000000000', '1973-09-01T00:00:00.000000000',
       '1984-03-01T00:00:00.000000000', '1977-12-01T00:00:00.000000000',
       '1980-09-01T00:00:00.000000000', '1990-10-01T00:00:00.000000000',
       '1981-03-01T00:00:00.000000000', '1985-12-01T00:00:00.000000000',
       '1982-10-01T00:00:00.000000000', '1985-11-01T00:00:00.000000000',
       '1974-10-01T00:00:00.000000000', '1992-09-01T00:00:00.000000000',
       '1995-02-01T00:00:00.000000000', '1990-11-01T00:00:00.000000000',
       '1980-04-01T00:00:00.000000000', '2015-04-01T00:00:00.000000000',
       '1975-01-01T00:00:00.000000000', '1974-05-01T00:00:00.000000000',
       '1990-09-01T00:00:00.000000000', '1990-05-01T00:00:00.000000000',
       '1987-11-01T00:00:00.000000000', '1976-06-01T00:00:00.000000000',
       '1983-10-01T00:00:00.000000000', '1980-08-01T00:00:00.000000000',
       '1986-01-01T00:00:00.000000000', '1973-02-01T00:00:00.000000000',
       '1986-02-01T00:00:00.000000000', '1976-04-01T00:00:00.000000000',
       '1971-12-01T00:00:00.000000000', '1992-01-01T00:00:00.000000000',
       '1971-02-01T00:00:00.000000000', '1985-06-01T00:00:00.000000000',
       '1976-02-01T00:00:00.000000000', '1970-01-01T00:00:00.000000000',
       '1975-10-01T00:00:00.000000000', '1979-04-01T00:00:00.000000000',
       '1983-06-01T00:00:00.000000000', '1987-09-01T00:00:00.000000000',
       '1980-10-01T00:00:00.000000000', '1978-02-01T00:00:00.000000000',
       '1980-07-01T00:00:00.000000000', '1992-05-01T00:00:00.000000000',
       '1984-01-01T00:00:00.000000000', '1978-10-01T00:00:00.000000000',
       '1985-03-01T00:00:00.000000000', '1969-05-01T00:00:00.000000000',
       '1980-11-01T00:00:00.000000000', '1975-03-01T00:00:00.000000000',
       '1980-12-01T00:00:00.000000000', '1976-08-01T00:00:00.000000000',
       '1977-07-01T00:00:00.000000000', '1968-11-01T00:00:00.000000000',
       '1983-09-01T00:00:00.000000000', '1984-06-01T00:00:00.000000000',
       '1976-11-01T00:00:00.000000000', '1976-03-01T00:00:00.000000000',
       '2010-04-01T00:00:00.000000000', '1984-02-01T00:00:00.000000000',
       '1976-05-01T00:00:00.000000000', '1970-03-01T00:00:00.000000000',
       '1977-03-01T00:00:00.000000000', '1988-02-01T00:00:00.000000000',
       '1979-12-01T00:00:00.000000000', '1992-02-01T00:00:00.000000000',
       '1981-10-01T00:00:00.000000000', '1982-04-01T00:00:00.000000000',
       '1989-01-01T00:00:00.000000000', '1978-05-01T00:00:00.000000000',
       '1969-10-01T00:00:00.000000000', '1962-04-01T00:00:00.000000000',
       '1961-05-01T00:00:00.000000000', '1977-08-01T00:00:00.000000000',
       '1981-04-01T00:00:00.000000000', '1983-12-01T00:00:00.000000000',
       '1975-11-01T00:00:00.000000000', '1977-04-01T00:00:00.000000000',
       '1976-07-01T00:00:00.000000000', '1982-07-01T00:00:00.000000000',
       '2015-11-01T00:00:00.000000000', '1976-10-01T00:00:00.000000000',
       '1967-07-01T00:00:00.000000000', '1972-06-01T00:00:00.000000000',
       '1986-03-01T00:00:00.000000000', '1967-06-01T00:00:00.000000000',
       '1979-05-01T00:00:00.000000000', '1980-03-01T00:00:00.000000000',
       '1971-08-01T00:00:00.000000000', '1981-05-01T00:00:00.000000000',
       '1983-01-01T00:00:00.000000000', '1979-09-01T00:00:00.000000000',
       '1977-01-01T00:00:00.000000000', '1982-03-01T00:00:00.000000000',
       '1977-06-01T00:00:00.000000000', '1981-01-01T00:00:00.000000000',
       '1978-01-01T00:00:00.000000000', '1973-01-01T00:00:00.000000000',
       '1971-03-01T00:00:00.000000000', '1964-05-01T00:00:00.000000000',
       '1980-02-01T00:00:00.000000000', '1974-07-01T00:00:00.000000000',
       '1965-05-01T00:00:00.000000000', '1973-07-01T00:00:00.000000000',
       '1973-08-01T00:00:00.000000000', '1981-08-01T00:00:00.000000000',
       '1971-09-01T00:00:00.000000000', '1978-06-01T00:00:00.000000000',
       '1974-01-01T00:00:00.000000000', '1974-08-01T00:00:00.000000000',
       '1967-01-01T00:00:00.000000000', '1975-04-01T00:00:00.000000000',
       '1970-09-01T00:00:00.000000000', '1965-06-01T00:00:00.000000000',
       '1973-03-01T00:00:00.000000000', '1976-09-01T00:00:00.000000000',
       '1971-04-01T00:00:00.000000000', '1974-11-01T00:00:00.000000000',
       '1968-12-01T00:00:00.000000000', '1976-12-01T00:00:00.000000000',
       '1966-02-01T00:00:00.000000000', '1980-05-01T00:00:00.000000000',
       '1979-08-01T00:00:00.000000000', '1963-04-01T00:00:00.000000000',
       '1970-10-01T00:00:00.000000000', '1976-01-01T00:00:00.000000000',
       '1977-09-01T00:00:00.000000000', '1974-09-01T00:00:00.000000000',
       '1954-01-01T00:00:00.000000000', '1973-04-01T00:00:00.000000000',
       '1969-01-01T00:00:00.000000000', '1980-06-01T00:00:00.000000000',
       '1983-08-01T00:00:00.000000000', '1968-01-01T00:00:00.000000000',
       '1969-08-01T00:00:00.000000000', '1975-12-01T00:00:00.000000000',
       '1975-07-01T00:00:00.000000000', '1971-01-01T00:00:00.000000000',
       '1968-07-01T00:00:00.000000000', '1973-11-01T00:00:00.000000000',
       '1950-01-01T00:00:00.000000000', '1972-04-01T00:00:00.000000000',
       '1974-06-01T00:00:00.000000000', '1950-07-01T00:00:00.000000000',

In [18]:
# reference date 2020-01-01
mths_earliest_cr_line = list()
for date in loan_df['earliest_cr_line']:
    year = date.year
    month = date.month
    
    mths_earliest_cr_line.append(((2020-year)*12) + (1 - month))
loan_df['mths_earliest_cr_line'] = mths_earliest_cr_line

In [19]:
loan_df['mths_earliest_cr_line'].unique()

array([ 225.,  391.,  105.,  167.,  229.,  208.,  182.,  266.,  257.,
        213.,  152.,  193.,  199.,  135.,  354.,  373.,  205.,  111.,
        174.,  227.,  181.,  219.,  196.,  183.,  112.,  243.,  275.,
        300.,  173.,  177.,  171.,  158.,  244.,  160.,  281.,   56.,
        242.,  253.,  365.,   93.,   88.,  108.,   78.,  100.,  245.,
        337.,  146.,  147.,  402.,   62.,  297.,  330.,  161.,  375.,
        179.,  209.,  195.,  189.,  151.,  353.,  349.,  270.,  376.,
        136.,  251.,  153.,  185.,  157.,  154.,  159.,   66.,  176.,
        295.,   70.,  203.,  149.,  282.,  348.,  137.,  145.,  268.,
        240.,  180.,  155.,  169.,   96.,  265.,  130.,  369.,  163.,
         72.,  127.,  536.,   69.,  279.,  250.,  301.,  144.,  246.,
         71.,  231.,  113.,  322.,  128.,  317.,  260.,  256.,  101.,
        422.,  237.,  201.,  200.,  287.,  288.,  178.,  221.,   99.,
        550.,  150.,  263.,  168.,  166.,  197.,  188.,   74.,  132.,
        216.,  424.,  114.,  262.,  343.,  280.,  340.,  346.,  249.,
        125.,  218.,  165.,  121.,  398.,  192.,  206.,  304.,  238.,
         55.,   81.,  232.,  487.,  361.,  267.,  233.,  389.,  342.,
        381.,   63.,  210.,  124.,  116.,  412.,  347.,  194.,  118.,
        294.,  303.,  390.,  123.,  276.,  315.,  329.,  172.,  228.,
        438.,  198.,  230.,  259.,   77.,  129.,  186.,  170.,  261.,
        314.,  339.,  187.,  139.,  324.,  202.,  106.,  235.,  190.,
        143.,  560.,  140.,  204.,  214.,  269.,  131.,  191.,  321.,
        289.,  133.,  360.,   94.,  394.,  103.,  107.,   60.,  175.,
        226.,  247.,  490.,  264.,  236.,  217.,  212.,  207.,  220.,
        463.,  308.,   58.,  312.,   54.,  148.,   89.,  371.,   91.,
        569.,   98.,   59.,  327.,  309.,  419.,  224.,  138.,  277.,
        396.,  296.,  286.,  122.,  258.,  384.,  379.,  429.,  344.,
         61.,  278.,  501.,  126.,  595.,  355.,  142.,  222.,  291.,
        164.,  215.,  156.,  162.,  234.,  358.,   85.,   67.,   90.,
        307.,  239.,  374.,  387.,  338.,  455.,  345.,  184.,  254.,
        434.,  302.,  565.,  290.,  326.,   68.,  272.,  367.,   51.,
        405.,  320.,  310.,  252.,  255.,   79.,  298.,   95.,  316.,
        364.,  323.,  451.,  293.,   86.,  401.,   97.,   75.,  104.,
        480.,  382.,  413.,  284.,  494.,   73.,  416.,  446.,   82.,
        403.,  331.,  411.,   92.,  392.,  109.,  134.,  428.,  110.,
        319.,  313.,  359.,  141.,  292.,  115.,  102.,  311.,  211.,
        318.,  325.,  399.,  425.,   76.,  452.,  274.,  366.,  357.,
        414.,   65.,  445.,  119.,   87.,  404.,  306.,  305.,  378.,
        417.,   83.,  370.,  273.,  385.,  486.,  241.,  380.,  397.,
        223.,  248.,  283.,  442.,   53.,  395.,  443.,  362.,  333.,
        462.,  467.,  120.,  368.,  496.,  533.,  271.,  441.,  377.,
        421.,  341.,   80.,  492.,  420.,  497.,  493.,  590.,  393.,
        400.,  285.,  512.,  363.,  449.,  460.,  440.,  426.,   52.,
        458.,   84.,  448.,  507.,  491.,  482.,  423.,  515.,  498.,
        457.,   64.,  568.,  582.,  506.,  650.,  502.,  456.,  334.,
        556.,  430.,  505.,  472.,  351.,  466.,  409.,  447.,  410.,
        543.,  328.,  299.,  350.,  477.,   57.,  540.,  548.,  352.,
        356.,  386.,  523.,  435.,  473.,  408.,  563.,  407.,  525.,
        577.,  336.,  587.,  415.,  527.,  600.,  531.,  489.,  439.,
        388.,  471.,  503.,  474.,  332.,  432.,  495.,  418.,  608.,
        470.,  538.,  469.,  521.,  510.,  614.,  436.,  427.,  518.,
        526.,  117.,  431.,  524.,  598.,  514.,  383.,  481.,  335.,
        459.,  453.,  372.,  500.,  603.,  693.,  704.,  509.,  465.,
        433.,  530.,  513.,  522.,  450.,   50.,  519.,  630.,  571.,
        406.,  631.,  488.,  478.,  581.,  464.,  444.,  484.,  516.,
        454.,  511.,  468.,  504.,  564.,  586.,  668.,  479.,  546.,
        656.,  558.,  557.,  461.,  580.,  499.,  552.,  545.,  636.,
        537.,  592.,  655.,  562.,  520.,  585.,  542.,  613.,  517.,
        647.,  476.,  485.,  681.,  591.,  528.,  508.,  544.,  792.,
        561.,  612.,  475.,  437.,  624.,  605.,  529.,  534.,  588.,
        618.,  554.,  840.,  573.,  547.,  834.,  621.,  684.,  638.,
        567.,  625.,  641.,  574.,  572.,  664.,  575.,  553.,  744.,
        555.,  683.,  629.,  651.,  599.,  483.,  576.,  551.,  611.,
        669.,  532.,  593.,  654.,  589.,  584.,  657.,  768.,  597.,
        652.,  658.,  541.,  637.,  660.,  720.,  722.,  620.,  535.,
        607.,  696.,  596.,  549.,  635.,  617.,  604.,  609.,  694.,
        559.,  699.,  633.,  663.,  732.,  601.,  667.,  622.,  610.,
        628.,  634.,  606.,  632.,  578.,  566.,  708.,  695.,  619.,
        539.,  642.,  661.,  640.,  676.,  689.,  648.,  615.,  662.,
        790.,  677.,  626.,  672.,  666.,  616.,  583.,  579.,  649.,
        639.,  570.,  659.,  643.,  665.,  594.,  645.,  644.,  688.,
        627.,  717.,  679.,  602.,  685.,  623.,  828.,  646.,  691.,
        673.,  653.,  756.,  697.,  702.,  865.,  753.,  670.,  730.,
        780.,  739.,  671.,  729.,  674.,  725.,  680.,  698.,  715.,
        682.,  714.,  675.,  709.,  700.,  703.,  737.,  777.,  716.,
        687.,  721.,  763.,  707.,  678.,  743.,  727.,  804.,  690.,
        941.,  706.,  877.,  701.,  692.,  719., 1042.,  746.,  811.,
        751.,  740.,  686.,  713.,  778.,  728.,  899.,  864.,  726.,
        710.,  754.,  810.,  816.,  741.,  822.,  705.,  733.,  735.,
        731.,  723.,  775.,  796.,  758.,  742.,  776.,  718.,  821.,
        724.,  734.,  760.,  752.,  757.,  738.,  712.,  711.,  833.,
        773.,  912.,  806.,  797., 1029.,  820., 1031.,  749.,  747.,
        794.,  774.,  800.,  830.,  770.,  755.,  817.,  881.,  782.,
        748.,  847.,  831.,  836.,  783.,  888.,  829.,   nan])

### Filling Missing Values

In [20]:
loan_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term',
       'mths_issue_d', 'mths_earliest_cr_line'],
      dtype='object', length=147)

In [21]:
# print(loan_df['emp_length'].unique())
# 'verification_status_joint' in loan_df.columns
'initial_list_status' in loan_df.columns

True

In [22]:
loan_df['annual_inc'].fillna(loan_df['annual_inc'].mean(), inplace=True)
loan_df['delinq_2yrs'].fillna(0, inplace=True)
loan_df['inq_last_6mths'].fillna(0, inplace=True)
loan_df['open_acc'].fillna(0, inplace=True)
loan_df['pub_rec'].fillna(0, inplace=True)
loan_df['total_acc'].fillna(0, inplace=True)
loan_df['total_rev_hi_lim'].fillna(0, inplace=True)
loan_df['emp_length'].fillna(0, inplace=True)
loan_df['mths_earliest_cr_line'].fillna(0, inplace=True)

### Splitting Columns

In [25]:
# for col in loan_df.columns:
#     filename = str(col) + '.csv'
#     pd.DataFrame(loan_df[col]).to_csv(filename)

### Get Dummies

In [26]:
categorical_df = loan_df[['grade', 'sub_grade', 'home_ownership', 
                          'verification_status_joint', 'loan_status', 
                          'purpose', 'addr_state', 'initial_list_status']]
prefix_dict = {'grade': 'grade:', 'sub_grade': 'sub_grade:', 'home_ownership': 'home_ownership:', 
                'verification_status_joint': 'verification_status_joint:', 'loan_status': 'loan_status:', 
                'purpose': 'purpose:', 'addr_state': 'addr_state:', 'initial_list_status': 'initial_list_status:'}
dummies_df = pd.get_dummies(categorical_df, prefix=prefix_dict)
# dummies_df

In [27]:
dummies_df.columns

Index(['grade:_A', 'grade:_B', 'grade:_C', 'grade:_D', 'grade:_E', 'grade:_F',
       'grade:_G', 'sub_grade:_A1', 'sub_grade:_A2', 'sub_grade:_A3',
       ...
       'addr_state:_TX', 'addr_state:_UT', 'addr_state:_VA', 'addr_state:_VT',
       'addr_state:_WA', 'addr_state:_WI', 'addr_state:_WV', 'addr_state:_WY',
       'initial_list_status:_f', 'initial_list_status:_w'],
      dtype='object', length=127)

In [71]:
# loan_df.to_csv('loan_df.csv')

In [28]:
categorical_df.to_csv('categorical_df.csv', index = False)

In [29]:
loan_df.to_csv('loan_df.csv', index = False)